.main {
    margin-top: 50px;
}

.shelf {
    width: 250px;
    height: 500px;
    position: relative;
    background: url(/assets/images/shelf.svg) no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.product {
    cursor: grab;
}

.product:nth-child(1) {
    position: absolute;
    top: -3px;
    left: 12px;
}

.product:nth-child(2) {
    position: absolute;
    top: 39px;
    left: 72px;
}

.product:nth-child(3) {
    position: absolute;
    top: 100px;
    left: 125px;
}

.product:nth-child(4) {
    position: absolute;
    top: 111px;
    left: 189px;
}

.product:nth-child(5) {
    position: absolute;
    top: 199px;
    left: 7px;
}

.product:nth-child(6) {
    position: absolute;
    top: 204px;
    left: 60px;
}

.product:nth-child(7) {
    position: absolute;
    top: 213px;
    left: 149px;
}

.product:nth-child(8) {
    position: absolute;
    top: 278px;
    left: 10px;
}

.product:nth-child(9) {
    position: absolute;
    top: 317px;
    left: 66px;
}

.product:nth-child(10) {
    position: absolute;
    top: 328px;
    left: 137px;
}

.product:nth-child(11) {
    position: absolute;
    top: 315px;
    left: 178px;
}

.product__img {
    transform: scale(1.3);
}

.cart {
    position: relative;
    width: 360px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.cart__img  {
    transform: scale(1.3,1.2);
    position: relative;
    z-index: 50;
    top: -108px;
}

.cart__items {
    position: absolute;
    color: black;
    width: 242px;
    height: 163px;
    top: -95px;
    display: flex;
    align-items: end;
    margin: 0 auto;
    left: 85px;
}