.main {
    margin-top: 50px;
}

.shelf {
    width: 250px;
    height: 500px;
    position: relative;
    background: url(/assets/images/shelf.svg) no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.product {
    cursor: grab;    
}

.product:nth-child(1) {
    position: absolute;
    top: 5px;
    left: 12px;
}

.product:nth-child(2) {
    position: absolute;
    top: 42px;
    left: 72px;
}

.product:nth-child(3) {
    position: absolute;
    top: 95px;
    left: 125px;
}

.product:nth-child(4) {
    position: absolute;
    top: 105px;
    left: 189px;
}

.product:nth-child(5) {
    position: absolute;
    top: 194px;
    left: 7px;
}

.product:nth-child(6) {
    position: absolute;
    top: 200px;
    left: 60px;
}

.product:nth-child(7) {
    position: absolute;
    top: 206px;
    left: 149px;
}

.product:nth-child(8) {
    position: absolute;
    top: 278px;
    left: 10px;
}

.product:nth-child(9) {
    position: absolute;
    top: 312px;
    left: 66px;
}

.product:nth-child(10) {
    position: absolute;
    top: 324px;
    left: 137px;
}

.product:nth-child(11) {
    position: absolute;
    top: 311px;
    left: 187px;
}

.product__img {
    transform: scale(1.3,1.2);
}

.cart {
    position: relative;
    width: 360px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.cart__img  {
    transform: scale(1.3,1.2);
    position: relative;
    z-index: 50;
    top: -108px;
}

.cart__items {
    position: absolute;
    color: black;
    width: 242px;
    height: 163px;
    top: -88px;
    display: flex;
    align-items: end;
    margin: 0 auto;
    left: 89px;
    border: 3px dashed red;
}

.button-byProducts {
    display: flex;
    justify-content: center;
}

.button-byProducts a {
    width: 174px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCE000;
    color: #21201F;
    font-size: 16px;
    border: 0;
    border-radius: 16px;
    font-weight: 700;
    transform: scale(1.3,1.2);
    position: absolute;
    top: 605px;
    z-index: 50;
    opacity: 0;
    box-shadow: 0 5px 0px #3c354a;
    transition-duration: 0.5s, 0.2s;
    transition-property: opacity,box-shadow;
    transition-delay: 0.5s,;
    cursor: pointer;
}

.button-byProducts a:hover {
    animation: none;
    box-shadow: 0 3px 0px #3c354a;
}

.button-byProducts_active a {
   display: flex;
   opacity: 1;
   animation: blink 1s linear infinite;
   animation-delay: 1s; 
}



@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }
  
a {
    all: unset;
    text-decoration: none;
    color: inherit;
  }

@media (max-width:400px) {
    .shelf {
        max-width: 200px;
        height: 400px;
        
    }

    .cart__img  {
        transform: scale(0.5,0.5);
    }

    .product__img {
        transform: scale(1,1);
    }

    .cart__items {
        width: 176px;
        top: -99px;
        left: 112px;
    }
}

